<?xml version="1.0" encoding="utf-8"?>
<manifest package="cn.studyjams.s1.sj53.tangkai"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".DevelopmentActivity"
            android:label="@string/title_activity_development"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.studyjams.s1.sj53.tangkai.MainActivity"/>
        </activity>
        <activity
            android:name=".CategoryActivity"
            android:label="@string/title_activity_category"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.studyjams.s1.sj53.tangkai.MainActivity"/>
        </activity>
        <activity
            android:name=".StructureActivity"
            android:label="@string/title_activity_structure"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.studyjams.s1.sj53.tangkai.MainActivity"/>
        </activity>
        <activity
            android:name=".StyleActivity"
            android:label="@string/title_activity_style"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.studyjams.s1.sj53.tangkai.MainActivity"/>
        </activity>
        <activity
            android:name=".SkillActivity"
            android:label="@string/title_activity_skill"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.studyjams.s1.sj53.tangkai.MainActivity"/>
        </activity>
    </application>

</manifest>